/*---------VAR----------*/
:root {
    --width-page: 1420px
}

/*----------additional class---------------*/
._container {
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
    max-width: var(--width-page);
}

._icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    position: absolute;
}

._subtitle {
    color: #70FF00;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;

}

/*модификаторы*/

.border_solid {
    position:relative;
    display:inline-block;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

.text_black:hover {
    color: #727272;
}

.text_black:hover a svg{
    fill: #727272;
}

.border_solid:hover {
    background:linear-gradient(180deg, #70FF00 55%, #FFFFFF 100%);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
}

.border_solid::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 8px;
    padding:4px;
    background:linear-gradient(180deg, #70FF00 55%, #FFFFFF 100%);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
/*------------------------------------------*/

/*------------HEADER----------------*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: linear-gradient(135deg, #000 0%, #272727 44%, #727272 100%);
}

.header__container {
    max-width: 1560px;
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-weight: 700;
    color: #828282;
    font-size: 30px;
    padding-right: 10px;
}

.header__logo_color_white {
    color: #F2F2F2;
}

.header__menu {
    display: flex;
    align-items: center;
}

.menu__list:first-child {
    margin-right: 120px;
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin: 0 40px 0 0;
}

.menu__link {
    display: flex;
    text-align: center;
    color: inherit;
    line-height: calc(24 / 16 * 100%);
    align-items: center;
    padding: 10px;
}

.menu__link svg{
    padding-right: 10px;
    fill: #F2F2F2;
}

.menu__link:hover {
    text-decoration: underline;
}

@media (max-width: 1300px) {
    .menu__list:first-child {
        margin-right: 30px;
    }
    .menu__item:not(:last-child) {
        margin: 0 15px 0 0;
    }
    .menu__link {
        font-size: 20px;
        padding: 5px;
    }
}

@media (max-width: 992px) {
    .menu__link {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .header__logo {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 12px;
    }
    .menu__list:first-child {
        margin-right: 5px;
    }
}

/*-----------------------PAGE----------------------------*/
.page {
    flex: 1 1 auto;
}

.page__main-block {
    background: linear-gradient(135deg, #000 0%, #272727 44.03%, #494949 99.99%, #727272 100%);
}

.page__skills {
    background: #161616;
}

.page__project {
    background: linear-gradient(135deg, #000 0%, #272727 44.03%, #494949 99.99%, #727272 100%);
}

.page__courses {
background-color: #161616;
}

/*----------MAIN--------------------------------------------*/
.main-block__container {
}
/*-----body-top-------*/
.main-block__body-top {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-block__profile {
    max-width: 460px;
}

.main-block__salutation {
    color: #E0E0E0;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    margin: 0 0 25px 0;
}

.main-block__name {
    color: #70FF00;
    font-size: 46px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7px;
    max-width: 400px;
}

.main-block__profession {
    color: #E0E0E0;
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    margin: 60px 0 60px 0
}


.main-block__achievements {
    display: flex;
    justify-content: space-between;
}

.main-block__achievement {
    display: flex;
    align-items: center;
}

.main-block__achievement-number {
    color:  #4F4F4F;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    margin: 0 16px 0 0;
}

.main-block__achievement-text {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main-block__avatar {
    position: relative;
}

.main-block_portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 526px;
    height: 526px;
    border-radius: 50%;
    background: #2D2D2D;
    box-shadow: 0 5px 34px 2px rgba(0, 0, 0, 0.25);
}

.main-block__react {
    width: 30%;
    height: 30%;
    background: #333;
    top: 57%;
    left: 4%;
}

.main-block__react img {
    width: 80%;
}

.main-block__javascript {
    background: #333;
    top: 62%;
    left: 76%;
}

.main-block__javascript img {
    width: 57%;
    border-radius: 8%;
}

.main-block__redux {
    background: #333;
    top: 9%;
    left: 76%;
}

.main-block__redux img {
    width: 73%;
    padding-bottom: 12%;
}

@media (max-width: 992px) {
    .main-block__achievements {
        flex-wrap: wrap;
        padding-right: 150px;
    }
    .main-block_portrait {
        width: 400px;
        height: 400px;
    }
    .main-block__achievement-number {
        font-size: 40px;
        margin: 0 10px 0 0;
    }
    .main-block__achievement-text {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .header__logo {
        font-size: 18px;
    }
    .main-block_portrait {
        width: 250px;
        height: 250px;
        align-items: stretch;
    }
    .main-block__achievements {
        flex-wrap: wrap;
        padding: 0 0 0 0;
    }

    .main-block__name {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 4px;
        max-width: 300px;
    }

    .main-block__profession {
        font-size: 26px;
        margin: 30px 0 30px 0
    }
}

@media (max-width: 479px) {
    .main-block__body-top {
        flex-wrap: wrap;
    }
    .main-block__avatar {
        margin-top: 50px;
    }
    .main-block__achievements {
        flex-wrap: nowrap;
    }
}

/*-----body-bottom-------*/

.main-block__body-bottom {
    max-width: 1420px;
    padding-top: 230px;
    padding-bottom: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-block__about-me {
    max-width: 760px;
    margin-right: 50px;
}

.main-block__title {
}

.main-block__title span {
    color: #F2F2F2;
}

.main-block__description {
    padding: 36px 0 0 0;
    color: #F2F2F2;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.main-block__links {
    display: flex;
    flex-direction: column;
    min-width: 570px;
}

.main-block__card:not(:last-child) {
    margin-bottom: 9px;
}

.main-block__card {
    border-radius: 6px;
    background: #4F4F4F;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 5% 6% 4% 10%;
    justify-content: space-between;
    min-height: 100px;
}

.main-block__link-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-block__link-title {
    color: #FFF;
    font-family: "Courier Prime";
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5%;
}

.main-block__link {
    color: #70FF00;
    font-family: "Courier Prime";
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.main-block__symbol{
    display: flex;
    align-items: center;
}

@media (max-width: 1300px) {
    .main-block__links {
        min-width: 300px;
    }
    .main-block__symbol svg{
        max-width: 30px;
    }
}

@media (max-width: 767px) {
    .main-block__links {
        min-width: 200px;
    }
    .main-block__symbol svg{
        max-width: 30px;
    }
}

@media (max-width: 479px) {
    .main-block__body-bottom {
        padding-top: 130px;
        padding-bottom: 130px;
        display: flex;
        flex-direction: column;
    }
    .main-block__links {
        margin-top: 50px;
        width: 100%;
    }
    .main-block__symbol svg{
        max-width: 30px;
    }
}

/*----SKILLS---------------------*/

.skills__container {
    /*box-sizing: border-box;*/
}

.skills_body {
    max-width: 1420px;
    padding-top: 55px;
    /*padding-bottom: 116px;*/
}

.skills_title {
    margin: 0 0 130px 0;
}

.skills_icons {
    display: flex;
    flex-wrap: wrap;
}

.skills_icon:not(:last-child) {
    margin-right: 54px;
}

.skills_icon {
    box-sizing: border-box;
    width: 108px;
    margin: 0 0 108px;
}

.skills_icon > img {
    width: 100%;
}

@media (max-width: 479px) {
    .skills_icon {
        box-sizing: border-box;
        width: 80px;
        margin: 0 0 80px;
    }
    .skills_icon:not(:last-child) {
        margin-right: 24px;
    }
}

/*------PROJECT-----------------*/

.project {
}

.project__container {
    max-width: 1420px;
    padding-top: 110px;
    padding-bottom: 224px;
    margin: 0 auto;
    box-sizing: content-box;
    min-width: 0;
}

.project__slider {
    margin: 82px 0 0 0;
}

.project__slider-wrapper {

}

.project_title {

}

.project__slider-slide {
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: url("../img/cursor/cursor.png") 23 0, auto;
}

.project__slider-image {
    text-align: center;
    transition: opacity 2s ease-in-out;
}

.project__slider-slide:hover {
    border-color: #70FF00;
}

.project__slider-title {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    width: 100%;
    background: rgba(76, 76, 76, 0.66);
    font-size: 35px;
    font-weight: 700;
    color: #FFF;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
    transition: opacity 2s;
}

.project__slider-slide:hover > .project__slider-image {
    opacity: .6;
}

.project__slider-slide:hover > .project__slider-title {
    opacity: 1;
}

.project__slider-image img{
    max-width: 100%;
}

@media (max-width: 767px) {
    .project__container {
        padding-top: 70px;
        padding-bottom: 112px;
        margin: 0 auto;
        box-sizing: content-box;
        min-width: 0;
    }
}

/*------COURSES------------------*/

.courses__container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.courses__title {
    margin: 0 0 50px 0;
}

.courses__content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.courses__content::before {
    content: "";
    align-self: center;
    display: block;
    height: 90%;
    width: 0;
    border: 2px solid #70FF00;
    position: absolute;
    z-index: 2;
}

.courses__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.course {
    order: 1;
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 70px 0 170px;
}

.courses__row::after {
    align-self: flex-start;
    order: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    content: url("../img/figures/Ellipse 15.svg");
    z-index: 3;
}

.courses__row::before {
    order: -1;
    flex: 1 1 30%;
    content: "";
}

.courses__row:nth-child(even)::before {
    order: 1;
}

.courses__row:nth-child(even) .course {
    padding: 10px 170px 0 70px;
    order: -1;
}

.course__title {
    color: #70FF00;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 6px 0;
}

.course__text {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    margin: 0 0 28px 0;
}

.course__button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
}

.course__button:hover {
    color: #161616;
}

@media (max-width: 1300px) {
    .course {
        padding: 10px 20px 0 70px;
    }

    .courses__row:nth-child(even) .course {
        padding: 10px 70px 0 20px;
    }
}

@media (max-width: 767px) {
    .course {
        padding: 20px;
    }

    .courses__content::before {
        margin-left: 13px;
        align-self: start;
    }

    .courses__row:nth-child(even) .course {
        align-self: start;
        order: 2;
        padding: 20px;
    }
    .courses__row::before {
        order: 3;
        flex: 0 1 auto;
        content: "";
    }
    .courses__row:not(:last-child) {
        margin: 0 0 30px 0;
    }
}

@media (max-width: 479px) {
    .course {
        padding: 5px;
    }
    .courses__row:nth-child(even) .course {
        padding: 5px;
    }
}